/* google font added */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --primary-color: #FF7D29;
  --secondary-color: #FFBF78;
  --third-color: #FFEEA9;
  --fourth-color: #FEFFD2;
}

.body{
  background-color: var(--third-color);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

/* nav bar */
nav{
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-radius: 20px;
}

/* home carousel */
.carousel-item{
  height: 570px;
}
.carousel img{
  height: 100%;
  object-fit:cover;
  filter: brightness(0.7);
}
.carousel-caption{
  margin-top: 160px;
}
.slide-title{
  font-size: 60px;
  text-transform: uppercase;
}

/* app features carousel */
.feature-title{
  position: absolute;
  top: 120px;
  left: 120px;
  font-size: 25px;
  font-weight: 700;
  color: #FFBF78;
  display: none;
  transition: all .4s;
}
.feature-title:hover{
  display: block;
}
.feature-img{
  width: 100%;
  filter: brightness(0.4);
  border-radius: 10px;
  transition: 0.5s all ease-in-out;
}
.feature-card:hover img{
  transform: scale(1.1);
}