/* google font added */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --primary-color: #FF7D29;
  --secondary-color: #FFBF78;
  --third-color: #FFEEA9;
  --fourth-color: #FEFFD2;
}

body{
  background-color: var(--fourth-color);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

/* nav bar */
nav{
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-radius: 20px;
}

/* home carousel */
.carousel-item{
  height: 570px;
}
.carousel img{
  height: 100%;
  object-fit:cover;
  filter: brightness(0.4);
}
.carousel-caption{
  margin-top: 160px;
}
.slide-title{
  font-size: 60px;
  text-transform: uppercase;
}
