/* google font added */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --primary-color: #FF7D29;
  --secondary-color: #FFBF78;
  --third-color: #FFEEA9;
  --fourth-color: #FEFFD2;
}

.body{
  
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

/* nav bar */
nav{
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

/* home carousel */
.carousel-item{
  height: 570px;
}
.carousel img{
  height: 100%;
  object-fit:cover;
  filter: brightness(0.7);
}
.carousel-caption{
  margin-top: 160px;
}
.slide-title{
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: var(--secondary-color);
}

/* app features carousel */
.feature-img{
  filter: brightness(0.3);
  border-radius: 5px;
  transition: all .4s;
  position: relative;
}
.feature-img:hover {
  filter: brightness(1);
}
/* .feature-title{
  position: absolute;
  top:50%;
  left: 40%;
  color: var(--third-color);
} */
.feature-title{
  font-size: 10px;
  text-align: center;
  font-weight:bold;
}

/* wedding hall section */
.wedding-hall-box{
  width: 300px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}
.hall-img{
  width: 100%;
  border-radius: 5px;
}
.hall-body{
  
}